<div class="input-container" [class.is-invalid]="isInvalid" [class.is-valid]="isValid" [class.is-focused]="isFocused" [class.has-value]="value !== '' && value !== null">
  <label class="floating-label" *ngIf="label">{{ label }}</label>
  <div class="input-wrapper">
    <input 
      [type]="type"
      [placeholder]="isFocused && !label ? placeholder : ''"
      [value]="value"
      [disabled]="isDisabled"
      (input)="handleInput($event)"
      (blur)="handleBlur()"
      (focus)="handleFocus()"
      class="app-input"
    />
    <svg *ngIf="isValid" class="icon-valid" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" fill="currentColor">
      <path d="M9 16.2L4.8 12l-1.4 1.4L9 19 21 7l-1.4-1.4L9 16.2z"/>
    </svg>
  </div>
  <div class="error-message" *ngIf="isInvalid && errorMessage">
    {{ errorMessage }}
  </div>
</div>
